[Desktop Entry]
Type=Application
Name=Install APK (Waydroid)
Comment=Install an Android package into Waydroid
Exec=waydroid app install %f
TryExec=waydroid
NoDisplay=true
Terminal=true
MimeType=application/vnd.android.package-archive;
Categories=System;
