[Desktop Entry]
Type=Application
Name=Install APK (Waydroid)
Comment=Install an Android package into Waydroid
Exec=bs-apk-install %f
TryExec=bs-apk-install
NoDisplay=true
Terminal=true
MimeType=application/vnd.android.package-archive;
Categories=System;
