[Desktop Entry]
Type=Application
Name=3D Viewer (f3d)
Comment=Quick-view a 3D model
Exec=f3d %f
TryExec=f3d
NoDisplay=true
Terminal=false
MimeType=model/stl;model/3mf;model/obj;model/gltf+json;model/gltf-binary;model/vrml;model/iges;application/vnd.ply;
Categories=Graphics;Viewer;
